<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="autor" content="//STDKIT">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <link rel="manifest" href="img/favicon/site.webmanifest">
  <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <title><%= data.title %></title>
</head>

<body>

  <main>

    <!-- Прелоадер -->

    <div class="fixed inset-0 z-50 flex flex-col items-center justify-center duration-500 bg-white" data-preloader>
      <%= preloader %>
    </div>

    <% if (data.status) { %>
    <% var buttons = [
      {
        id: 'user-fade',
        icon: 'img/icons.svg#winter-hat',
        text: 'Профиль'
      },
      {
        id: 'heart',
        icon: 'img/icons.svg#crystal-ball',
        text: 'Отложенное'
      },
      {
        id: 'basket-fade',
        icon: 'img/icons.svg#christmas-gift',
        text: 'Корзина'
      }
    ] %>

    <div class="container relative flex items-center py-1 text-white min-h-16 bg-gray">
      <div class="absolute inset-0">
        <%= loader %>
        <%= picture({src: 'img/pictures/banner', format: 'jpg', className: 'image image-top-left md:image-center', data: false}) %>
      </div>
      <div class="relative flex items-center justify-between w-full gap-5">
        <h3 class="text-xl font-black leading-none sm:text-2xl">Встречай лето! скидки 50%</h3>
        <a class="btn btn-black btn-lg btn-light" data-waved="dark" draggable="false" href="">Смотреть</a>
      </div>
    </div>

    <!-- Светлый баннер -->

    <%= banner({icon, cookie: true, variant: 'light'}) %>

    <!-- Темный баннер -->

    <%= banner({icon, cookie: true, variant: 'dark'}) %>

    <!-- Навигация -->

    <nav class="container items-center justify-between hidden gap-5 py-5 bg-white border-b border-solid xl:flex border-grey">
      <% _.forEach((nav), (item) => { %>
      <a class="btn btn-gray text-black/70 text-sm hover:text-primary <%= data.title === item ? 'text-primary pointer-events-none' : '' %>" data-waved="dark" draggable="false" href=""><%= item %></a>
      <% }) %>
    </nav>

    <!-- Шапка документа -->

    <header class="container sticky top-0 left-0 right-0 z-20 flex items-center justify-between gap-2 py-5 bg-white md:py-7" data-header>
      <button class="text-black rounded btn btn-gray xl:hidden" data-sidebar-open="menu" data-waved="dark">
        <%= icon({id: 'burger', className: 'icon text-3xl', data: false}) %>
      </button>
      <a class="relative flex flex-col logo" draggable="false" href="#">
        <div class="flex items-center">
          <%= picture({src: 'img/pictures/logo', format: 'svg', className: 'icon text-2xl md:text-3xl mr-1 md:mr-3', data: false}) %>
          <b class="text-lg leading-none uppercase font-alt md:text-3xl">Агропланета</b>
        </div>
        <span class="hidden mt-1 text-sm font-normal leading-none opacity-60 md:block">Надёжный партнёр в мире садоводчества</span>
      </a>
      <%= search({icon, result: true, className: 'hidden xl:flex max-w-[425px]'}) %>
      <a class="flex-col items-start justify-start hidden text-left btn btn-gray lg:flex" data-waved="dark" draggable="false" href="tel: +7 495 128 39 72">
        <span class="text-xl leading-none text-black">+7 495 128 39 72</span>
        <span class="mt-1 text-sm leading-none text-second">Пн-Вс: 9:00-18:00 по МСК</span>
      </a>
      <div class="flex items-center gap-4">
        <% for (var i = 0; i < buttons.length; i++) { %>
        <a class="flex-col w-6 px-0 rounded-full md:px-2 md:w-auto md:rounded-lg btn btn-primary btn-xs md:btn-lg shrink-0" data-waved="dark" draggable="false" href="">
          <div class="relative">
            <%= icon({id: buttons[i].id, className: 'icon text-2xl md:text-3xl', data: `data-new-year-icon="${buttons[i].icon}"`}) %>
            <% if (i !== 0) { %>
            <span class="absolute flex items-center justify-center w-4 h-4 text-center text-white rounded-full -top-2 -right-1 md:w-6 md:h-5 text-mini md:text-xs md:-right-3 bg-red-light">12</span>
            <% } %>
          </div>
          <span class="hidden mt-1 text-xs font-medium leading-none text-black opacity-60 md:block"><%= buttons[i].text %></span>
        </a>
        <% } %>
      </div>
    </header>

    <!-- Меню -->

    <div class="fixed inset-0 z-40 duration-100 group/menu [&[data-sidebar=close]]:invisible [&[data-sidebar=close]]:opacity-0" data-sidebar="close" data-sidebar-resize="xl" id="menu">
      <div class="shadow-screen flex flex-col bg-white overflow-auto w-full max-w-[375px] h-full duration-300 group-[[data-sidebar=close]]/menu:invisible group-[[data-sidebar=close]]/menu:opacity-0 group-[[data-sidebar=close]]/menu:-translate-x-full">
        <div class="px-4 py-5">
          <div class="flex items-center justify-between">
            <button class="text-black rounded btn btn-gray" data-sidebar-close="menu" data-waved="dark">
              <%= icon({id: 'close', className: 'icon text-3xl', data: false}) %>
            </button>
            <a class="relative flex flex-col logo" draggable="false" href="#">
              <div class="flex items-center">
                <%= picture({src: 'img/pictures/logo', format: 'svg', className: 'icon text-2xl mr-1', data: false}) %>
                <b class="text-lg leading-none uppercase font-alt">Агропланета</b>
              </div>
            </a>
            <div class="flex items-center gap-4">
              <% for (var i = 0; i < buttons.length; i++) { %>
              <a class="flex-col w-6 px-0 rounded-full btn btn-primary btn-xs shrink-0" data-waved="dark" draggable="false" href="">
                <div class="relative">
                  <%= icon({id: buttons[i].id, className: 'icon text-2xl', data: `data-new-year-icon="${buttons[i].icon}"`}) %>
                  <% if (i !== 0) { %>
                  <span class="absolute flex items-center justify-center w-4 h-4 text-center text-white rounded-full -top-2 -right-1 text-mini bg-red-light">12</span>
                  <% } %>
                </div>
              </a>
              <% } %>
            </div>
          </div>
          <div class="flex flex-col items-start py-8">
            <a class="mb-10 uppercase rounded-lg btn btn-primary btn-md btn-fill" data-waved="light" draggable="false" href="">
              <%= icon({id: 'burger', className: 'icon text-base mr-2', data: false}) %>
              Каталог
            </a>
            <nav class="flex flex-col items-start gap-10">
              <% _.forEach((nav), (item) => { %>
              <a class="btn btn-gray text-black/70 text-sm hover:text-primary <%= data.title === item ? 'text-primary pointer-events-none' : '' %>" data-waved="dark" draggable="false" href=""><%= item %></a>
              <% }) %>
            </nav>
          </div>
        </div>
        <div class="flex flex-col items-start px-4 pt-6 mt-auto pb-9 bg-gray">
          <a class="mb-3 text-lg font-bold text-black btn btn-gray" data-waved="dark" draggable="false" href="tel: +7 (800) 301-92-38">+7 (800) 301-92-38</a>
          <a class="mb-8 text-sm font-normal text-black btn btn-gray" data-waved="dark" draggable="false" href="mailto: AgroPlanet@info.ru">AgroPlanet@info.ru</a>
          <span class="mb-4 text-sm font-semibold leading-none opacity-40">Мы в социальных сетях</span>
          <%= social %>
        </div>
      </div>
    </div>

    <!-- Поиск -->

    <section class="container py-0 bg-white xl:hidden">
      <%= search({icon, result: true, className: null}) %>
    </section>

    <!-- Категории -->

    <% var categories = ['Акции', 'Розы', 'Плодовые', 'Ягодные', 'Многолетние', 'Луковичные', 'Клубника', 'Виноград', 'Еще 50'] %>

    <section class="container pt-3 pb-3 overflow-hidden bg-white shadow xl:pb-5 xl:pt-0 categories">
      <div class="xl:flex xl:items-center xl:justify-between xl:gap-9">
        <a class="hidden uppercase rounded-lg btn btn-primary btn-md btn-fill xl:flex" data-waved="light" draggable="false" href="">
          <%= icon({id: 'burger', className: 'icon text-base mr-2', data: false}) %>
          Каталог
        </a>
        <div class="relative xl:flex-grow categories-slider">
          <div class="px-4 -mx-4 swiper sm:mx-0 xm:px-0">
            <div class="justify-between swiper-wrapper">
              <% for (var i = 0; i < categories.length; i++) { %>
              <div class="w-auto h-auto swiper-slide">
                <a class="btn btn-md active:transform-none px-2 text-sm sm:text-base <%= i === 0 || i === categories.length - 1 ? '' : 'font-normal' %> <%= i === categories.length - 1 ? 'btn-primary' : 'btn-second text-black' %>" data-waved="dark" draggable="false" href="">
                  <% if (i === 0) { %>
                  <%= icon({id: 'sale', className: 'icon text-2xl text-second mr-1', data: false}) %>
                  <% } %>
                  <%= categories[i] %>
                  <% if (i === categories.length - 1) { %>
                  <%= icon({id: 'arrow-right', className: 'icon text-sm ml-1', data: false}) %>
                  <% } %>
                </a>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- В покупки -->

    <div class="fixed z-20 top-2/4 left-0 md:left-auto right-0 md:right-10 bg-white rounded-3xl -translate-y-1/2 shadow-md invisible opacity-0 w-full max-w-80 mx-auto py-6 px-6 duration-300 [&[data-shop=hidden]]:-translate-y-1/3" data-shop="hidden">
      <div class="flex items-center justify-between mb-6">
        <h3 class="mr-2 text-3xl font-bold uppercase font-alt">Добавлено</h3>
        <button class="text-black rounded btn btn-gray" data-shop-close data-waved="dark">
          <%= icon({id: 'close', className: 'icon text-3xl', data: false}) %>
        </button>
      </div>
      <div class="flex items-center p-1 mb-6 border border-solid border-grey rounded-2xl">
        <div class="w-full mr-3 pack pack-lg bg-grey rounded-2xl max-w-28">
          <%= loader %>
          <%= picture({src: '', format: 'jpg', className: 'image', data: 'data-shop-image'}) %>
        </div>
        <div class="flex flex-col">
          <span class="mb-4 text-sm font-normal leading-tight line-clamp-2" data-shop-name></span>
          <span class="text-sm font-semibold leading-none" data-shop-quantity></span>
        </div>
      </div>
      <a class="btn btn-second btn-lg btn-fill" data-waved="light" draggable="false" href="">Перейти в корзину</a>
    </div>
    <% } %>