<a class="flex-row items-center justify-between gap-4 py-2 pl-2 pr-2 border border-solid sm:gap-8 sm:pr-4 lg:pr-8 card card-active border-grey" data-waved="dark" draggable="false" href="">
  <div class="w-full pack pack-lg rounded-2xl max-w-36 shrink-0 bg-gray">
    <%= loader %>
    <%= picture({src: 'img/pictures/plug', format: 'jpg', className: 'image', data: false}) %>
  </div>
  <div class="gap-3 sm:gap-7 sm:flex-row sm:items-center sm:justify-between card-content">
    <div class="flex flex-col w-full sm:max-w-96">
      <b class="text-sm leading-tight sm:text-base">Земляника ремонтантная Вима Рина</b>
      <span class="mt-3 text-sm font-normal leading-none sm:mt-6 sm:text-base">Кол-во: 1</span>
    </div>
    <b class="text-xl leading-none sm:text-2xl lg:text-3xl min-w-max">123 ₽</b>
  </div>
</a>