<a class="h-full card hover:shadow-lg group card-active" data-waved="dark" draggable="false" href="">
  <div class="pack pack-[105] bg-gray mb-1">
    <%= loader %>
    <%= picture({src: 'img/pictures/plug', format: 'jpg', className: 'image group-hover:scale-110 duration-200', data: false}) %>
  </div>
  <div class="flex items-center justify-center h-10 p-1 text-white bg-primary rounded-b-3xl">
    <%= icon({id: 'clock', className: 'icon text-xl sm:text-2xl mr-2', data: false}) %>
    <p class="text-xs font-normal leading-none sm:text-sm">
      <b>2 дня</b> <span class="opacity-60">до конца акции</span>
    </p>
  </div>
  <div class="py-2 md:py-4 card-content">
    <h4 class="mb-2 text-sm font-semibold leading-tight md:mb-4 md:text-base">
      Ягодинские скидочки! На лучшие сорта плодоносных кустов.
    </h4>
    <p class="mt-auto text-sm font-normal leading-tight md:text-base opacity-60">
      Предзаказ растений уже открыт
    </p>
  </div>
</a>