<div class="relative px-4 sm:px-6 pt-8 pb-48 lg:pb-8 text-white plug rounded-3xl overflow-hidden lg:overflow-visible <%= bg %>">
  <%= picture({src: `img/pictures/${image}`, format: 'png', className: 'absolute bottom-0 left-0 sm:left-auto right-0 sm:right-10 xl:right-24 w-full max-w-52 sm:max-w-72 mx-auto sm:mx-0', data: false}) %>
  <div class="relative flex flex-col items-start">
    <h3 class="mb-3 text-xl font-bold leading-tight uppercase font-alt sm:text-2xl"><%= title %></h3>
    <p class="mb-8 text-sm font-normal leading-tight sm:text-base"><%= text %></p>
    <a class="btn btn-black btn-light btn-lg" data-waved="dark" draggable="false" href="">В каталог</a>
  </div>
</div>