<div class="absolute left-0 w-full pointer-events-none -bottom-3 sm:-bottom-2 max-w-44 sm:max-w-52">
  <%= picture({src: `img/pictures/pre-order-${color}`, format: 'png', className: 'image', data: false}) %>
  <div class="relative flex items-center w-full h-6 px-1 py-1 sm:px-4 sm:h-9">
    <span class="flex items-center justify-center mr-1 rounded-full sm:mr-2 size-4 shrink-0 bg-second">
      <%= picture({src: 'img/pictures/checkbox', format: 'svg', className: 'icon text-mini', data: false}) %>
    </span>
    <span class="font-semibold leading-none text-petite sm:text-xs">Предзаказ Весна 2024</span>
  </div>
</div>