<form class="form w-full <%= className %>" data-form="action" action="">
  <label class="form-label">
    <div class="form-wrapper">
      <div class="input-cover">
        <input class="border-2 border-solid input input-primary input-lg border-primary bg-primary/10" type="text" placeholder="Найти" name="search">
      </div>
      <button class="duration-200 opacity-50 form-icon form-icon-pointer form-icon-right hover:opacity-100" type="submit">
        <%= icon({id: 'search', className: 'icon text-2xl', data: false}) %>
      </button>
    </div>
  </label>
</form>