<%
  var data = {
    title: 'Агропланета',
    status: true,
  }

  var nav = ['Отследить заказ', 'Доставка и оплата', 'Сообщить о проблеме', 'Гарантия', 'Контакты', 'Популярные вопросы']

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon})
  var preloader = _.template(require('./components/preloader.html').default)({icon})
  var search = _.template(require('./components/search.html').default)
  var social = _.template(require('./components/social.html').default)({picture})
  var slide = _.template(require('./components/slide.html').default)({loader, picture})
  var swiperButtonPrev = _.template(require('./components/swiper-button-prev.html').default)({icon})
  var swiperButtonNext = _.template(require('./components/swiper-button-next.html').default)({icon})
  var title = _.template(require('./components/title.html').default)
  var primalTitle = _.template(require('./components/primal-title.html').default)
  var cardCatalog = _.template(require('./components/card-catalog.html').default)({picture})
  var delivery = _.template(require('./components/delivery.html').default)({picture})
  var header = _.template(require('./includes/header.html').default)
  var footer = _.template(require('./includes/footer.html').default)
%>

<%= header({data, nav, loader, preloader, icon, picture, search, social}) %>

<!-- Первоначальный блок -->

<section class="container overflow-hidden primal">
  <div class="relative primal-slider">
    <div class="px-4 -mx-4 swiper sm:px-0 sm:mx-0">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < 6; i++) { %>
        <div class="h-auto swiper-slide">
          <%= slide %>
        </div>
        <% } %>
      </div>
    </div>
    <%= swiperButtonPrev %>
    <%= swiperButtonNext %>
  </div>
</section>

<!-- Саженцы от Агропланеты -->

<section class="container pt-0">
  <%= primalTitle({title, icon, text: 'Саженцы от Агропланеты', className: 'mb-4 sm:mb-8'}) %>
  <div class="grid grid-cols-2 gap-2 sm:grid-cols-3 sm:gap-5 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6">
    <% for (var i = 0; i < 11; i++) { %>
    <%= cardCatalog %>
    <% } %>
    <a class="border border-solid card border-primary bg-primary/10 min-h-40 sm:min-h-44" data-waved="dark" draggable="false" href="">
      <div class="flex-row items-center justify-center px-4 py-2 card-content">
        <h4 class="text-sm font-medium leading-tight text-center">Все категории</h4>
        <%= icon({id: 'arrow-right', className: 'icon text-sm ml-1', data: false}) %>
      </div>
    </a>
  </div>
  <div class="relative flex items-center gap-5 px-8 py-8 mt-8 lg:mt-12 bg-blue rounded-3xl min-h-28">
    <%= picture({src: 'img/pictures/basket', format: 'png', className: 'absolute bottom-0 right-6 w-full max-w-60', data: false}) %>
    <div class="relative flex items-center gap-20">
      <h3 class="text-2xl font-bold leading-tight font-alt">Доставим саженцы любым удобным <br> для вас способом</h3>
      <%= delivery %>
    </div>
  </div>
</section>

<%= footer({data, nav, loader, picture}) %>