<%
  var data = {
    title: 'Агропланета',
    status: true,
  }

  var nav = ['Отследить заказ', 'Доставка и оплата', 'Сообщить о проблеме', 'Гарантия', 'Контакты', 'Популярные вопросы']

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon})
  var preloader = _.template(require('./components/preloader.html').default)({icon})
  var banner = _.template(require('./components/banner.html').default)
  var search = _.template(require('./components/search.html').default)
  var social = _.template(require('./components/social.html').default)({picture})
  var slide = _.template(require('./components/slide.html').default)
  var swiperButtonPrev = _.template(require('./components/swiper-button-prev.html').default)({icon})
  var swiperButtonNext = _.template(require('./components/swiper-button-next.html').default)({icon})
  var title = _.template(require('./components/title.html').default)
  var primalTitle = _.template(require('./components/primal-title.html').default)
  var cardCatalog = _.template(require('./components/card-catalog.html').default)
  var delivery = _.template(require('./components/delivery.html').default)({picture})
  var cardStock = _.template(require('./components/card-stock.html').default)({loader, picture, icon})
  var nameplate = _.template(require('./components/nameplate.html').default)
  var preOrder = _.template(require('./components/pre-order.html').default)
  var like = _.template(require('./components/like.html').default)
  var quantity = _.template(require('./components/quantity.html').default)
  var cardProduct = _.template(require('./components/card-product.html').default)
  var header = _.template(require('./includes/header.html').default)({data, nav, loader, preloader, banner, icon, picture, search, social})
  var production = _.template(require('./includes/production.html').default)
  var advantages = _.template(require('./includes/advantages.html').default)({picture})
  var footer = _.template(require('./includes/footer.html').default)({data, nav, loader, picture, delivery, social})
%>

<%= header %>

<!-- Первоначальный блок -->

<section class="container overflow-hidden primal">
  <div class="relative primal-slider">
    <div class="px-4 -mx-4 swiper sm:px-0 sm:mx-0">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < 6; i++) { %>
        <div class="h-auto swiper-slide">
          <%= slide({loader, picture, button: true, swiper: true}) %>
        </div>
        <% } %>
      </div>
    </div>
    <%= swiperButtonPrev %>
    <%= swiperButtonNext %>
  </div>
</section>

<!-- Саженцы от Агропланеты -->

<section class="container pt-0">
  <%= primalTitle({title, icon, text: 'Саженцы от Агропланеты', className: 'mb-4 sm:mb-8'}) %>
  <div class="grid grid-cols-2 gap-2 sm:grid-cols-3 sm:gap-5 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6">
    <% for (var i = 0; i < 11; i++) { %>
    <%= cardCatalog({picture, internal: false}) %>
    <% } %>
    <a class="border border-solid card border-primary bg-primary/10 hover:bg-primary/50 min-h-40 sm:min-h-44 card-active" data-waved="dark" draggable="false" href="">
      <div class="flex-row items-center justify-center px-4 py-2 card-content">
        <h4 class="text-sm font-medium leading-tight text-center">Все категории</h4>
        <%= icon({id: 'arrow-right', className: 'icon text-sm ml-1', data: false}) %>
      </div>
    </a>
  </div>
  <div class="relative gap-5 px-4 py-8 mt-8 -mx-4 md:flex md:items-center sm:px-6 lg:px-8 lg:mt-12 bg-blue sm:rounded-3xl min-h-96 md:min-h-28 sm:mx-0">
    <%= picture({src: 'img/pictures/basket', format: 'png', className: 'absolute bottom-0 left-0 md:left-auto right-0 md:right-6 w-full max-w-80 md:max-w-60 mx-auto ms:mx-0', data: false}) %>
    <div class="relative flex flex-col gap-8 lg:items-center lg:gap-20 lg:flex-row">
      <h3 class="text-2xl font-bold leading-tight font-alt">Доставим саженцы любым удобным <br class="hidden sm:block"> для вас способом</h3>
      <%= delivery %>
    </div>
  </div>
</section>

<!-- Наши акции -->

<section class="container pt-0">
  <div class="flex flex-col gap-2 mb-6 sm:flex-row sm:items-center sm:justify-between sm:mb-8">
    <%= primalTitle({title, icon, text: 'Наши акции', className: null}) %>
    <div class="flex items-center">
      <span class="mr-2 rounded-full size-2 shrink-0 bg-red"></span>
      <h3 class="text-lg font-bold leading-none font-alt">Более 20 акций на сайте</h3>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-2 sm:gap-4 lg:gap-6 lg:grid-cols-3 xl:grid-cols-4">
    <% for (var i = 0; i < 4; i++) { %>
    <%= cardStock %>
    <% } %>
  </div>
</section>

<!-- Новинки -->

<%= production({loader, icon, picture, title, primalTitle, slide, cardProduct, nameplate, preOrder, like, quantity, swiperButtonPrev, swiperButtonNext, text: 'Новинки'}) %>

<!-- Преимущества -->

<%= advantages %>

<!-- Хиты продаж -->

<%= production({loader, icon, picture, title, primalTitle, slide, cardProduct, nameplate, preOrder, like, quantity, swiperButtonPrev, swiperButtonNext, text: 'Хиты продаж'}) %>

<!-- Скидка -->

<section class="container pt-0">
  <div class="text-white min-h-[440px] md:min-h-80 lg:min-h-[415px] relative overflow-hidden sm:rounded-3xl md:flex md:items-center -mx-4 sm:mx-0 px-4 md:px-10 lg:px-20 py-8">
    <div class="absolute inset-0">
      <div class="h-full pack bg-gray">
        <%= loader %>
        <picture>
          <source srcset="img/pictures/discount-bg-desktop.webp" media="(min-width: 767.98px)" type="image/webp">
          <source srcset="img/pictures/discount-bg-desktop.jpg" media="(min-width: 767.98px)">
          <source srcset="img/pictures/discount-bg-mobile.webp" type="image/webp">
          <img class="image" draggable="false" loading="lazy" src="img/pictures/discount-bg-mobile.jpg" alt="">
        </picture>
      </div>
    </div>
    <div class="relative flex flex-col items-start w-full max-w-[360px]">
      <%= title({text: 'скидка 10% <br> на первый заказ', className: 'mb-2 sm:mb-4'}) %>
      <p class="mb-8 text-sm font-normal leading-tight sm:mb-12 sm:text-base">Каждому новому покупателю дарим скидку!</p>
      <a class="btn btn-black btn-lg btn-light" data-waved="dark" draggable="false" href="">В каталог</a>
    </div>
  </div>
</section>

<!-- С приятной скидкой -->

<%= production({loader, icon, picture, title, primalTitle, slide, cardProduct, nameplate, preOrder, like, quantity, swiperButtonPrev, swiperButtonNext, text: 'С приятной скидкой'}) %>

<%= footer %>