<%
  var data = {
    title: 'Личный кабинет',
    status: true,
  }

  var nav = ['Отследить заказ', 'Доставка и оплата', 'Сообщить о проблеме', 'Гарантия', 'Контакты', 'Популярные вопросы']

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon})
  var preloader = _.template(require('./components/preloader.html').default)({icon})
  var banner = _.template(require('./components/banner.html').default)
  var search = _.template(require('./components/search.html').default)
  var social = _.template(require('./components/social.html').default)({picture})
  var title = _.template(require('./components/title.html').default)
  var delivery = _.template(require('./components/delivery.html').default)({picture})
  var pageTop = _.template(require('./components/page-top.html').default)({data, icon, title})
  var sidebar = _.template(require('./components/sidebar.html').default)
  var minLength = _.template(require('./components/min-length.html').default)
  var conditions = _.template(require('./components/conditions.html').default)
  var header = _.template(require('./includes/header.html').default)({data, nav, loader, preloader, banner, icon, picture, search, social})
  var footer = _.template(require('./includes/footer.html').default)({data, nav, icon, loader, picture, delivery, social})
%>

<%= header %>

<!-- <%= data.title %> -->

<section class="container sm:pt-12">
  <%= pageTop %>
  <div class="flex flex-col lg:flex-row lg:justify-between gap-7">
    <%= sidebar({icon, picture, page: 'Изменить пароль'}) %>
    <div class="w-full lg:max-w-[915px]">
      <%= title({text: 'Изменить пароль', className: 'mb-4 sm:mb-8 lg:mb-12'}) %>
      <form class="form" data-form="action" action="">
        <div class="grid grid-cols-1 gap-6 mb-6 sm:grid-cols-2">
          <label class="form-label" data-label="input">
            <span class="mb-3 text-sm font-medium leading-none sm:text-base">Новый пароль</span>
            <div class="form-wrapper">
              <div class="input-cover">
                <input class="pr-10 input input-lg input-black" data-input="password" type="password" autocomplete="new-password" name="password">
              </div>
              <span class="form-error" data-error>Введите пароль</span>
              <button class="form-icon form-icon-pointer form-icon-right rounded-r-xl" data-password data-waved="dark" type="button">
                <%= icon({id: 'eye-visible', className: 'icon text-2xl opacity-50 pointer-events-none', data: false}) %>
              </button>
            </div>
          </label>
          <label class="form-label" data-label="input">
            <span class="mb-3 text-sm font-medium leading-none sm:text-base">Повторите новый пароль</span>
            <div class="form-wrapper">
              <div class="input-cover">
                <input class="pr-10 input input-lg input-black" data-input="password" type="password" autocomplete="new-password" name="repeat-password">
              </div>
              <span class="form-error" data-error>Введите пароль</span>
              <button class="form-icon form-icon-pointer form-icon-right rounded-r-xl" data-password data-waved="dark" type="button">
                <%= icon({id: 'eye-visible', className: 'icon text-2xl opacity-50 pointer-events-none', data: false}) %>
              </button>
            </div>
          </label>
          <%= minLength({icon, className: 'sm:col-2 p-4 rounded-xl bg-red/20'}) %>
        </div>
        <button class="w-full btn btn-second btn-lg btn-fill max-w-60" data-waved="light" type="submit">Сохранить изменения</button>
      </form>
      <%= conditions({className: 'mt-5 sm:mt-8 lg:mt-11'}) %>
    </div>
  </div>
</section>

<%= footer %>