<%
  var data = {
    title: 'Смена пароля',
    status: true,
  }

  var nav = ['Отследить заказ', 'Доставка и оплата', 'Сообщить о проблеме', 'Гарантия', 'Контакты', 'Популярные вопросы']

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon})
  var preloader = _.template(require('./components/preloader.html').default)({icon})
  var banner = _.template(require('./components/banner.html').default)
  var search = _.template(require('./components/search.html').default)
  var social = _.template(require('./components/social.html').default)({picture})
  var title = _.template(require('./components/title.html').default)
  var delivery = _.template(require('./components/delivery.html').default)({picture})
  var skyBg = _.template(require('./components/sky-bg.html').default)({data, loader, picture, title})
  var confirmation = _.template(require('./components/confirmation.html').default)
  var header = _.template(require('./includes/header.html').default)({data, nav, loader, preloader, banner, icon, picture, search, social})
  var footer = _.template(require('./includes/footer.html').default)({data, nav, loader, picture, delivery, social})
%>

<%= header %>

<!-- <%= data.title %> -->

<section class="container sm:pt-12">
  <div class="card w-full md:max-w-[465px] mx-auto bg-blue">
    <%= skyBg %>
    <div class="px-4 py-8 sm:px-8 card-content">
      <form class="gap-6 form" data-form="action" action="">
        <%= confirmation({text: 'Введите полученный код для смены пароля'}) %>
        <label class="form-label" data-label="input">
          <span class="mb-3 text-sm font-medium leading-none sm:text-base">Код</span>
          <div class="form-wrapper">
            <div class="input-cover">
              <input class="input input-lg input-black" data-input="number" type="text" name="code">
            </div>
            <span class="form-error" data-error>Введите код</span>
          </div>
        </label>
        <button class="btn btn-second btn-fill btn-lg" data-waved="light" type="submit">Восстановить</button>
      </form>
      <div class="flex flex-wrap items-center gap-2 mt-4">
        <span class="text-sm font-normal leading-none sm:text-base opacity-60">Не пришел код?</span>
        <a class="text-sm font-medium border-b border-black border-dashed btn btn-black sm:text-base" data-waved="dark" draggable="false" href="">Выслать код повторно</a>
      </div>
    </div>
  </div>
</section>

<%= footer %>