<%
  var data = {
    title: 'Результаты поиска',
    status: true,
  }

  var nav = ['Отследить заказ', 'Доставка и оплата', 'Сообщить о проблеме', 'Гарантия', 'Контакты', 'Популярные вопросы']

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon})
  var preloader = _.template(require('./components/preloader.html').default)({icon})
  var banner = _.template(require('./components/banner.html').default)
  var search = _.template(require('./components/search.html').default)
  var social = _.template(require('./components/social.html').default)({picture})
  var title = _.template(require('./components/title.html').default)
  var delivery = _.template(require('./components/delivery.html').default)({picture})
  var pageTop = _.template(require('./components/page-top.html').default)({data, icon, title})
  var nameplate = _.template(require('./components/nameplate.html').default)
  var preOrder = _.template(require('./components/pre-order.html').default)
  var like = _.template(require('./components/like.html').default)
  var quantity = _.template(require('./components/quantity.html').default)
  var cardProduct = _.template(require('./components/card-product.html').default)
  var pagination = _.template(require('./components/pagination.html').default)({icon})
  var header = _.template(require('./includes/header.html').default)({data, nav, loader, preloader, banner, icon, picture, search, social})
  var footer = _.template(require('./includes/footer.html').default)({data, nav, icon, loader, picture, delivery, social})
%>

<%= header %>

<!-- <%= data.title %> -->

<% var production = [
  {
    names: ['discount', 'hit'],
    color: 'blue',
    active: true,
    discount: true
  },
  {
    names: ['hit', 'new'],
    color: 'orange',
    active: false,
    discount: false
  },
  {
    names: ['new'],
    color: 'blue',
    active: true,
    discount: false
  },
  {
    names: null,
    color: 'orange',
    active: false,
    discount: true
  },
] %>

<section class="container sm:pt-12">
  <%= pageTop %>
  <%= search({icon, className: 'sm:max-w-[425px] mb-6 sm:mb-8'}) %>
  <b class="block mb-8 text-base leading-none sm:mb-4">Найдено 488 товаров</b>
  <div class="grid grid-cols-2 gap-2 sm:gap-4 lg:gap-6 lg:grid-cols-3 xl:grid-cols-4">
    <% _.forEach((production), (item) => { %>
    <%= cardProduct({loader, picture, nameplate, preOrder, like, quantity, icon, swiper: false, names: item.names, color: item.color, active: item.active, discount: item.discount}) %>
    <% }) %>
  </div>
  <%= pagination %>
</section>

<%= footer %>