<%
  var data = {
    title: 'Яблоня',
    status: true,
  }

  var nav = ['Отследить заказ', 'Доставка и оплата', 'Сообщить о проблеме', 'Гарантия', 'Контакты', 'Популярные вопросы']

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon})
  var preloader = _.template(require('./components/preloader.html').default)({icon})
  var banner = _.template(require('./components/banner.html').default)
  var search = _.template(require('./components/search.html').default)
  var social = _.template(require('./components/social.html').default)({picture})
  var title = _.template(require('./components/title.html').default)
  var delivery = _.template(require('./components/delivery.html').default)({picture})
  var pageTop = _.template(require('./components/page-top.html').default)({data, icon, title})
  var range = _.template(require('./components/range.html').default)
  var nameplate = _.template(require('./components/nameplate.html').default)
  var preOrder = _.template(require('./components/pre-order.html').default)
  var like = _.template(require('./components/like.html').default)
  var quantity = _.template(require('./components/quantity.html').default)
  var cardProduct = _.template(require('./components/card-product.html').default)
  var pagination = _.template(require('./components/pagination.html').default)({icon})
  var header = _.template(require('./includes/header.html').default)({data, nav, loader, preloader, banner, icon, picture, search, social})
  var footer = _.template(require('./includes/footer.html').default)({data, nav, icon, loader, picture, delivery, social})
%>

<%= header %>

<!-- <%= data.title %> -->

<% var sorting = {
  filtering: [
    {
      title: 'Категория',
      categories: ['Рассада', 'Саженцы', 'Кустарник', 'Деревья', 'Удобрения', 'Защита растений', 'Садовый декор', 'Субстраты, грунты', 'Инструменты']
    },
    {
      title: 'Цена',
      range: true
    },
    {
      title: 'Окрас',
      colors: [
        {
          value: '#FFFFFF',
          text: 'Белый'
        },
        {
          value: '#006CE1',
          text: 'Синий'
        },
        {
          value: '#FF3B30',
          text: 'Красный'
        },
        {
          value: '#309C46',
          text: 'Зеленый'
        },
        {
          value: '#FFCC00',
          text: 'Желтый'
        },
        {
          value: '#373737',
          text: 'Черный'
        }
      ]
    }
  ],
  links: ['По убыванию цены', 'По возрастанию цены', 'По популярности', 'Сначала новинки']
} %>

<% var production = [
  {
    names: ['discount', 'hit'],
    color: 'blue',
    active: true,
    discount: true
  },
  {
    names: ['hit', 'new'],
    color: 'orange',
    active: false,
    discount: false
  },
  {
    names: ['new'],
    color: 'blue',
    active: true,
    discount: false
  },
  {
    names: null,
    color: 'orange',
    active: false,
    discount: true
  },
  {
    names: ['discount', 'hit'],
    color: 'blue',
    active: true,
    discount: true
  },
  {
    names: ['hit', 'new'],
    color: 'orange',
    active: false,
    discount: false
  },
  {
    names: ['new'],
    color: 'blue',
    active: true,
    discount: false
  },
  {
    names: null,
    color: 'orange',
    active: false,
    discount: true
  },
  {
    names: ['discount', 'hit'],
    color: 'blue',
    active: true,
    discount: true
  }
] %>

<section class="container sm:pt-12">
  <%= pageTop %>
  <%= banner({icon, cookie: false, variant: 'dark'}) %>
  <div class="lg:flex lg:justify-between lg:gap-16">
    <div class="w-full lg:max-w-56 duration-100 fixed lg:static inset-0 z-40 lg:z-0 group/sorting [&[data-sidebar=close]]:invisible lg:[&[data-sidebar=close]]:visible [&[data-sidebar=close]]:opacity-0 lg:[&[data-sidebar=close]]:opacity-100" data-sidebar="close" data-sidebar-resize="lg" id="sorting">
      <div class="shadow-screen bg-white bg-opacity-100 lg:bg-opacity-0 overflow-auto lg:overflow-visible w-full max-w-[375px] lg:max-w-full h-full lg:h-auto duration-300 pt-5 lg:pt-0 px-4 lg:px-0 pb-10 lg:pb-0 group-[[data-sidebar=close]]/sorting:invisible lg:group-[[data-sidebar=close]]/sorting:visible group-[[data-sidebar=close]]/sorting:opacity-0 lg:group-[[data-sidebar=close]]/sorting:opacity-100 group-[[data-sidebar=close]]/sorting:-translate-x-full lg:group-[[data-sidebar=close]]/sorting:transform-none lg:group-[[data-sidebar=close]]/sorting:shadow-none lg:group-[[data-sidebar=open]]/sorting:shadow-none">
        <div class="flex items-center justify-between gap-5 mb-8 lg:hidden">
          <h3 class="text-2xl font-bold leading-tight font-alt">Фильтр</h3>
          <button class="text-black rounded btn btn-gray" data-sidebar-close="sorting" data-waved="dark">
            <%= icon({id: 'close', className: 'icon text-3xl', data: false}) %>
          </button>
        </div>
        <form class="form" data-form="action" action="">
          <div class="flex flex-col gap-8">
            <% _.forEach((sorting.filtering), (item) => { %>
            <div class="group/accordion" data-accordion="hidden">
              <button class="relative flex items-center justify-between w-full" data-accordion-toggle data-waved="dark" type="button">
                <h4 class="mr-5 text-base font-bold leading-tight uppercase font-alt"><%= item.title %></h4>
                <%= icon({id: 'arrow-right', className: 'icon text-base duration-200 group-[[data-accordion=active]]/accordion:-rotate-90', data: false}) %>
              </button>
              <div data-accordion-content>
                <div class="pt-4 lg:pt-6">
                  <% if (item.categories) { %>
                  <div class="flex flex-col items-start gap-5">
                    <% for (var i = 0; i < item.categories.length; i++) { %>
                    <a class="text-sm font-normal leading-none underline-offset-4 hover:underline" draggable="false" href=""><%= item.categories[i] %></a>
                    <% } %>
                  </div>
                  <% } else if (item.range) { %>
                  <%= range({className: null}) %>
                  <% } else if (item.colors) { %>
                  <div class="flex flex-col items-start gap-3">
                    <% for (var i = 0; i < item.colors.length; i++) { %>
                    <label class="flex-row items-center gap-2 cursor-pointer form-label">
                      <input class="switch switch-checkbox" type="radio" name="color">
                      <span class="border border-solid rounded-full size-3 shrink-0 border-black/40" style="background-color: <%= item.colors[i].value %>;"></span>
                      <span class="text-sm font-normal leading-none"><%= item.colors[i].text %></span>
                    </label>
                    <% } %>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
          <div class="flex flex-col gap-4 mt-8 lg:mt-11">
            <button class="btn btn-primary btn-lg btn-fill" data-waved="light" type="submit">Показать</button>
            <button class="text-black btn btn-primary btn-lg btn-contur btn-swipe" data-waved="light" type="reset">Сбросить</button>
          </div>
        </form>
      </div>
    </div>
    <div class="w-full lg:max-w-[915px]">
      <div class="relative w-full max-w-72 group/accordion mb-7 lg:mb-7" data-accordion="hidden" data-accordion-close="click">
        <button class="relative flex items-center" data-accordion-toggle data-waved="dark">
          <b class="mr-3 text-sm leading-none">Сортировка:</b>
          <div class="flex items-center opacity-60">
            <span class="mr-3 text-sm font-normal leading-none">По возрастанию цены</span>
            <%= icon({id: 'arrow-right', className: 'icon text-sm duration-200 group-[[data-accordion=active]]/accordion:-rotate-90', data: false}) %>
          </div>
        </button>
        <div class="absolute left-0 right-0 z-10 top-5" data-accordion-content>
          <div class="flex flex-col px-3 py-3 bg-white shadow-md rounded-2xl">
            <% _.forEach((sorting.links), (item) => { %>
            <a class="justify-start font-normal text-black btn btn-second btn-md" data-waved="dark" draggable="false" href=""><%= item %></a>
            <% }) %>
          </div>
        </div>
      </div>
      <button class="w-full mb-8 btn btn-second btn-lg btn-fill lg:hidden xs:w-max" data-sidebar-open="sorting" data-waved="light">
        <%= icon({id: 'filter', className: 'icon text-xl mr-2', data: false}) %>
        Открыть фильтр
      </button>
      <div class="grid grid-cols-2 gap-2 mb-8 sm:gap-4 lg:gap-6 xl:grid-cols-3">
        <% _.forEach((production), (item) => { %>
        <%= cardProduct({loader, picture, nameplate, preOrder, like, quantity, icon, swiper: false, names: item.names, color: item.color, active: item.active, discount: item.discount}) %>
        <% }) %>
      </div>
      <%= pagination %>
    </div>
  </div>
</section>

<%= footer %>