<%
  var data = {
    title: 'Спасибо за заказ',
    status: true,
  }

  var nav = ['Отследить заказ', 'Доставка и оплата', 'Сообщить о проблеме', 'Гарантия', 'Контакты', 'Популярные вопросы']

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon})
  var preloader = _.template(require('./components/preloader.html').default)({icon})
  var banner = _.template(require('./components/banner.html').default)
  var search = _.template(require('./components/search.html').default)
  var social = _.template(require('./components/social.html').default)({picture})
  var title = _.template(require('./components/title.html').default)
  var delivery = _.template(require('./components/delivery.html').default)({picture})
  var pageTop = _.template(require('./components/page-top.html').default)({data, icon, title})
  var header = _.template(require('./includes/header.html').default)({data, nav, loader, preloader, banner, icon, picture, search, social})
  var footer = _.template(require('./includes/footer.html').default)({data, nav, icon, loader, picture, delivery, social})
%>

<%= header %>

<!-- <%= data.title %> -->

<section class="container sm:pt-12">
  <%= pageTop %>
  <div class="flex items-center">
    <%= icon({id: 'checkbox', className: 'icon text-5xl text-second mr-2', data: false}) %>
    <div class="flex flex-col">
      <span class="text-sm font-semibold leading-tight sm:text-base">Оплата прошла успешно</span>
      <p class="text-sm font-normal leading-normal sm:text-base">
        Чтобы посмотреть статус заказа, нажмите кнопку или войдите в свою <a class="text-primary underline-offset-4 hover:underline" draggable="false" href="">учетную запись</a>
      </p>
    </div>
  </div>
  <div class="flex mt-8 sm:mt-10">
    <a class="btn btn-second btn-lg btn-fill" data-waved="light" draggable="false" href="">Перейти в “Мои заказы”</a>
  </div>
</section>

<%= footer %>