// Инициализация тайлвинд
@tailwind base;
@tailwind components;
@tailwind utilities;

// Базовые стили
@layer base {
  @import "@fancyapps/ui/dist/fancybox/fancybox.css";
  @import "swiper/css/bundle";
  @import "air-datepicker/air-datepicker.css";
  @import "./ui-kit/fonts";
  @import "./ui-kit/basic";
  @import "./ui-kit/custom";
  @import "./ui-kit/waved";
  // @import "./ui-kit/movement";
}

// Компоненты
@layer components {
  // @import "./ui-kit/inverted";
  // @import "./ui-kit/postcards";
  // @import "./ui-kit/like";
  @import "./ui-kit/load";
  // @import "./ui-kit/button-glow";
  // @import "./ui-kit/button-bubles";
  // @import "./ui-kit/button-border";
  @import "./ui-kit/quantity";
  // @import "./ui-kit/rating";
  // @import "./ui-kit/range";
}

// Новогодняя тема
html:is(.theme-new-year) {
  .logo {
    &::before {
      background-image: url('../img/pictures/santa-hat.png');

      @apply content-auto absolute -top-2 -left-1 size-6 bg-no-repeat bg-center bg-cover;
    }
  }

  .footer {
    background-image: url('../img/pictures/snowflakes.jpg');

    @apply bg-no-repeat bg-center bg-cover;
  }
}

// Баннер
.banner {
  &--light {
    background-image: linear-gradient(90deg, #D7E43D 0%, rgba(243, 118, 238, 0.5) 100%);
  }

  &--dark {
    background-image: linear-gradient(90deg, #FF6B00 0%, #E23535 100%);
  }
}

// Меню
.menu {
  &__content {
    box-shadow: 0 0 0 100vw theme("colors.black.DEFAULT / 50%");
  }
}

// В покупки
.in-shop {
  animation: in-shop 1.5s ease both;
}

@keyframes in-shop {
  100% {
    top : -100px;
    left: 90%;
  }
}

// Заглушка
.plug {
  background-image: linear-gradient(299.27deg, theme("colors.white.DEFAULT / 30%") 0%, transparent 100%);
}

// Фильтр
// .filtering {
//   &__category.filtering-active {
//     @apply text-white bg-second pointer-events-none;

//     @screen md {
//       @apply font-bold text-primary bg-opacity-0;
//     }
//   }

//   &__card.filtering-active {
//     animation: filtering-active 0.3s ease both 1;
//   }
// }

// @keyframes filtering-active {
//   0% {
//     opacity  : 0;
//     transform: translateY(50px);
//   }

//   100% {
//     opacity  : 1;
//     transform: translateY(0);
//   }
// }